* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fredoka;
}

a{
    text-decoration: none;
    color: white;
}

/* debug */
.debug{
    min-height: 300px;
}

.debug-2{
    min-height: 600px;
}

.debug-foot{
    min-height: 400px;
}
/* debug */

body{
    display:flex;
    flex-direction: column;
}

.container {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1200px;
}

.row{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction:row;
}

.row-vertical{
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.button{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 20px; 
    font-weight: 600;  
}

.bg-black {
    background-color: black;
    color: white;
    margin-left: 20px;
}

/* header */
.nav {
    flex-direction: row;
    justify-content: space-between;    
}

.bg-nav{
    padding: 20px;
    background-color:#255EE9;
}

.link-header{
    padding: 0 10px;
}
/* header */

/* section head */
h1{
    font-size: 40px;
    padding-bottom: 30px;
}

.head{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.row-button{
    padding: 20px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
}
/* section head */

.col-100 {
    flex-basis: 100%;    
}

.col-5{
    flex-basis: calc((100% /12)*5);
    background-color: #FFC0CB;
}

.col-7 {
    flex-basis: calc((100% /12)*7);
    background-color: #1E90FF;
}

.reverse {
    flex-direction: row-reverse ;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #D3D3D3;
}

.bg-green{
    background-color: #228B22;
}

.container.bg-black{
    background-color: #23272A;
    border-bottom: 2px solid white;
}


.col-4 {
    background-color:#F08080 ;
    flex-basis: calc(100% /3);
}

.col-2{
    background-color: #20B2AA;
    flex-basis: calc(100% /6);
    border: 2px dashed white;
}

.bg-acquamarine{
    background-color: #7FFFD4;
    justify-content: space-between;
    padding: 10px 0;
}

.bg-peach{
    background-color: #FFC0CB;
    border: 2px dashed black;
    padding: 2px;
}
